body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  color: #575757;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  color: #575757;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
section {
  margin-bottom: 40px;
}

.main-button {
  margin-top: 60px;
}

/*  Comon css */

.section-size {
  width: 48%;
}

.word-color {
  background-image: linear-gradient(#fba24f, #ff1e1e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section-flax {
  display: flex;
}

.left-side {
  padding-top: 25px;
  padding-left: 5%;
  width: 48%;
}

.left-side p {
  width: 80%;
}

.right-side {
  padding-left: 5%;
  width: 48%;
}

.right-side img {
  width: 100%;
}

.main-button a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 50px;
  padding: 22px 44px;
  background-image: linear-gradient(#fba24f, #ff1e1e);
}

/* Header part end */

.about-section {
  background-image: url(images/7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-left img {
  padding-left: 40px;
  padding-top: 40px;
}

.about-right {
  padding-top: 120px;
}
/* About end */

.item-head {
  width: 50%;
  text-align: center;
  margin: auto;
}

.items {
  width: 48%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 15px 15px 30px rgba(87, 87, 87, 0.13);
  margin: 30px;
}
.items img {
  width: 100%;
  border-radius: 10px;
}

/* items end */

.countr-items {
  width: 48%;
  text-align: center;
}

.counter-list {
  width: 92%;
  margin: auto;
  box-shadow: 15px 15px 30px rgba(87, 87, 87, 0.13);
  border-radius: 8px;
  padding: 30px;
}

/* counter end */
.footer-main {
  margin-top: 80px;
}

.footer-info {
  text-align: center;
  background: #000;
  padding: 20px;
}

.footer-info h4 {
  color: #5b5b5b;
  font-size: 28px;
}

.footer-info p {
  color: #fff;
}

/* order list */

.order-list {
  width: 48%;
  padding: 30px;
}

.order-list img {
  width: 100%;
  border-radius: 10px;
}

.order-button {
  padding-top: 60px;
}

.order-button a {
  padding: 22px 40px;
  border-radius: 6px;
  background-image: linear-gradient(#fba24f, #ff1e1e);
  color: #fff;
}

/*  big banner */

.baner-info {
  width: 60%;
  text-align: center;
  padding: 100px 80px;
  margin: auto;
}

.baner-info h1 {
  background-image: linear-gradient(#fba24f, #ff1e1e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.baner-info p {
  color: #fff;
}
.big-banner {
  margin-top: 100px;
  background-image: url(images/Project\ Cover4.png);
}
